<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:#333333;">
<div class="nav">
    <a href="/"> Home</a>
    <a href="/stats">Stats</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <div class="right">
        <a href="/login">Sign in</a>
    </div>
</div>
<br><br>
<p>This website is part of our capstone project. We will be working to collect information about SSBM and individual matches to further improve the tournament experience.</p>
<p>This website will integrate with <a href="http://www.challonge.com">Challonge</a> and will help tournament organizers run their brackets more efficiently.</p>
</body>
</html>