<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:#333333;">
<div class="nav">
    <a href="/"> Home</a>
    <a href="/stats">Stats</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <div class="right">
        <a href="/login">Sign in</a>
    </div>
</div>
<br><br>
<p>If you have any suggestions or issues with the site please contact us at: </p>
<p>albert.sebastian@mymail.champlain.edu</p>
<p>kevin.blum@mymail.champlain.edu</p>
</body>
</html>