<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:#333333;">
<div class="nav">
    <a href="/"> Home</a>
    <a href="/stats">Stats</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <div class="right">
        <a href="/login">Sign in</a>
    </div>
</div>
<br><br>
<p>Press the button to have your password emailed to you!</p>
<a href="http://www.google.com" class="button">Send Password</a><br>
</body>
</html>