<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color:#333333;">
<div class="nav">
    <a href="/"> Home</a>
    <a href="/stats">Stats</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <div class="right">
        <a href="/login">Sign in</a>
    </div>
</div>
<br><br><br>
<h1>Welcome!</h1>
<P>Welcome to our Website! We aim to make organizing melee tournaments as easy as possible!</P>
<p>We will be updating the site to increase functionality over the next few months!</p>
<a href="/signup" class="button">Register your Account here!</a>

</body>
</html>